<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlissShop ResetPassword</title>
</head>

<body style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; color: #fff; margin: 0; padding: 0; background-color: #fff;">
    <table width="100%" height="450px" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" valign="middle">
                <table class="content" width="650"
                       style="text-align: center;padding-top: 0%; border-radius: 15px; background-color: #F3F9E3; height: 260px">
                    <tr>
                        <td style="vertical-align: top; padding-top: 20px;">
                            <h1 style="font-size: 24px; color: #276841; margin-bottom: 20px;">
                                BlissShop reset password.
                            </h1>
                            <p style="font-size: 16px; margin-top: 0; margin-bottom: 10px; color: #276841; padding: 0 35px">
                                It appears that you have requested a password reset for your account.<br />
                                To proceed with the password reset, click the button below:
                            </p>
                            <p style="text-align: center;">
                                <a href="@Model.ResetPasswordUri" style="white-space: nowrap; padding: 5px 20px; font-size: 18px; color: #F3F9E3; text-decoration: none; background-color: #276841; text-align: center; display: inline-block;" onmouseover="this.style.backgroundColor='#2e2d2d'" onmouseout="this.style.backgroundColor='#000000'">Reset your password</a>
                                <p style="color: #276841;">If you did not register for this service, please ignore this email.</p>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>