@model RealtorMVC.Models.Auth.SignUpModel

<div style="display: flex; justify-content: center; align-items: center; width: 100%">
    <form id="signUpForm" method="post" style="display: flex; flex-direction: column; gap: 20px; width: 400px; background-color: #301403; padding: 30px 20px; margin: 20px">
        <h2 style="text-align: start; color: #F1FFE7">Welcome!</h2>
        <p style="text-align: start; color: #F1FFE7">Create account. If you have an account? Login <a href="/Auth/SignIn" style="color: #F1FFE7">here</a>.</p>

        <div class="form-group" style="color: #F1FFE7">
            <label for="Email">Email</label>
            <input type="email" class="form-control" asp-for="Email" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group" style="color: #F1FFE7">
            <label for="Password">Password</label>
            <input type="password" class="form-control" asp-for="Password" required />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group" style="color: #F1FFE7">
            <label>Role</label>
            <div>
                <label>
                    <input type="radio" asp-for="Role" value="Seller" required />
                    Seller
                </label>
                <label>
                    <input type="radio" asp-for="Role" value="Buyer" required />
                    Buyer
                </label>
            </div>
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary" id="signUpButton" style="border: 1px solid #F1FFE7; background-color: #F1FFE7; color:black">
            Sign Up
        </button>
    </form>
</div>

<script>
    document.getElementById('signUpForm').addEventListener('submit', async function (event) {
        event.preventDefault();

        const signUpButton = document.getElementById('signUpButton');
        signUpButton.disabled = true;
        signUpButton.textContent = 'Loading...';

        const formData = new FormData(this);
        const response = await fetch(this.action, {
            method: 'POST',
            body: formData,
            headers: {
                'Accept': 'application/json'
            }
        });

        const result = await response.json();
        if (result.userId) {
            window.location.href = `/Auth/ConfirmEmail?userId=${result.userId}`;
        } else {
            const error = await response.json();
            alert('Error: ' + error.message);
        }

        signUpButton.disabled = false;
        signUpButton.textContent = 'Sign Up';
    });
</script>
